* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo {
    font-family: tesla;
    letter-spacing: 10px;
    font-size: 20px;
    cursor: pointer
}

html {
    scroll-behavior: smooth;
}

.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;

}

.fixed {
    position: fixed;

}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

}

.nav-flex ul {
    display: flex;
    list-style-type: none;
    gap: 17px;
    margin-left: 255px
}

.nav-flex ul li {
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    color: #171A20;
    font-weight: bold;
    transition: all 0.5s ease-in-out;


    border-radius: 3px;


}

.nav-flex ul li:hover {
    background-color: red;
}

.model-name {
    font-size: 40px;
    color: #171A20;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 7vh;
    font-family: sans-serif;
    margin-bottom: 10px
}

.demo-drive {
    font-size: 14px;
    padding-bottom: 2px;
    border-bottom: 1px solid #171A20;
    width: 160px;
    cursor: pointer;
    word-spacing: 2px;
    transition: all 0.3s;
    margin: 3px auto;
}

.align {
    font-size: 14px;
    padding-bottom: 2px;
    text-align: center;
    word-spacing: 2px;
    margin: 3px auto;
}

.demo-drive:hover {

    padding-bottom: 1px;
    border-bottom: 2px solid #171A20;

}

.btn-flex {
    text-align: center;


    margin-top: 60vh;


}

.custom-order,
.view-intentory {
    padding: 12px 40px;
    text-align: center;
    font-size: 14px;
    width: 270px;
    cursor: pointer;
    color: #393C41;
    margin-block: 10px;
    font-weight: bold;
    background-color: #F4F4F4A6;
    border: none;
    margin-right: 30px;
    word-spacing: 4px;
    font-family: sans-serif;
    border-radius: 3px;
}

.custom-order {
    background-color: #171A20CC;
    color: white;

}

.shop {
    margin-top: 50px;
}

.menu-btn {
    border: none;
    background: transparent;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    color: #171A20;
    font-weight: bold;
    transition: all 0.3s;
    margin-left: 15px;
    position: fixed;
    right: 45px;
    border-radius: 3px;
}
.menu-btn1 {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    color: #171A20;
    font-weight: bold;
    

}
.menu-hidden {
    overflow: scroll;
    width: 260px;
    opacity: 0;
    position: fixed;
    height: 100%;
    top: 0px;
    padding-left: 25px;
    padding-right: 33px;
    padding-bottom: 100px;
    transition: all 0.3s;
    right: -300px;
    z-index: 1;
}

.menu-hidden-container {
    width: 100%;
    top: 0px;
    position: fixed;
    right: -1600px;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .menu-hidden-container {
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        background-color: rgba(49, 47, 47, 0.459);
    }
}

.menu-hidden ul {
    list-style-type: none;
    padding-right: 10px;
    margin-top: 10px;

}
.menu-hidden-mainul {
    padding-top: 80px;
    width: 100%;
  
}
.order-btn {
    background: transparent;
    font-size: 15px;
    padding: 10px 70px;
    color: white;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 4px;
    transition: all 0.3s;

}
.order-btn:hover {
    background: white;
    color: black;
}

.menu-hidden ul li {
    line-height: 1.5;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px;
    margin-block: 7px;
    transition: all 0.3s;

}

.active {
    opacity: 1;
    right: 0px;
}

.menu-hidden ul li:hover {
    background-color: red;
}

.models {
    display: none;
}

.cancel-sidebar {

    cursor: pointer;
    font-size: 37px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 8px;
    margin-left: 150px;
    width: 40px;
    height: 40px;
  
    border-radius: 3px;
    transition: all 0.3s;
}

.cancel-sidebar:hover {
    background-color: red;
}

.cancel-sidebar-container {
 position: fixed;


}

.switch-mode {


    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    transition: all 0.3s;
}

.container-switch-mode {
    background-color: blue;
    width: 40px;

    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;

}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 7px;
}

.flex p {
    font-weight: bold;
    font-size: 13px;
}

/*width for smaller screens*/
@media (max-width: 1550px) {

    .nav-flex ul li {
        display: none;
    }

    .menu-btn {
        background-color: red;

    }

    .models {
        display: block;
    }

}

/* -------------------Model-S------------------------------ */
.border {
    color: #171A20;
    border: none;
    width: unset;
    text-align: center;

    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
}

.border:hover {
    border: none;

}

.full-height {
    height: 100vh;
}


.footer-performance {
    display: flex;
    align-items: center;
    gap: 4.5em;

    font-weight: bold;
    color: white;
}

.footer-main {
    font-size: 28px;
    text-align: center;
}

.footer-stat {
    font-size: 13px;
    text-align: center;
}

.tey {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 470px;

    padding-block: 10px;

}
.inferior-design-container {
    height: 100vh;

}
.inferior-design-text {
    text-align: center;
    font-size: 28px;
    color: white;
}
.video-background {
    background-color: rgb(0, 0, 0);

}
.vidclass-container {
    max-width: 80%;
    padding-top: 50px;
    margin: 0px auto;

}
.vidclass {
    width: 100%;
    border-radius: 30px;
   
}